
.col-offset-1  {margin-left: calc((100% / 12) *   1);}
.col-offset-2  {margin-left: calc((100% / 12) *   2);}
.col-offset-3  {margin-left: calc((100% / 12) *   3);}
.col-offset-4  {margin-left: calc((100% / 12) *   4);}
.col-offset-5  {margin-left: calc((100% / 12) *   5);}
.col-offset-6  {margin-left: calc((100% / 12) *   6);}
.col-offset-7  {margin-left: calc((100% / 12) *   7);}
.col-offset-8  {margin-left: calc((100% / 12) *   8);}
.col-offset-9  {margin-left: calc((100% / 12) *   9);}
.col-offset-10 {margin-left: calc((100% / 12) *  10);}
.col-offset-11 {margin-left: calc((100% / 12) *  11);}
.col-offset-12 {margin-left: calc((100% / 12) *  12);}

/*************************************/
/*********** LAYOUT: SMALL ***********/
@media screen and (min-width: 576px) {
.col-1-sm  {flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);}
.col-2-sm  {flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);}
.col-3-sm  {flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);}
.col-4-sm  {flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);}
.col-5-sm  {flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);}
.col-6-sm  {flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);}
.col-7-sm  {flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);}
.col-8-sm  {flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);}
.col-9-sm  {flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);}
.col-10-sm {flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) * 10);}
.col-11-sm {flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) * 11);}
.col-12-sm {flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) * 12);}
}

/*************************************/
/********** LAYOUT: MEDIUM ***********/
@media screen and (min-width: 768px) {
.col-1-md  {flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);}
.col-2-md  {flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);}
.col-3-md  {flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);}
.col-4-md  {flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);}
.col-5-md  {flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);}
.col-6-md  {flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);}
.col-7-md  {flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);}
.col-8-md  {flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);}
.col-9-md  {flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);}
.col-10-md {flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) * 10);}
.col-11-md {flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) * 11);}
.col-12-md {flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) * 12);}
}

/*************************************/
/*********** LAYOUT: LARGE ***********/
@media screen and (min-width: 992px) {
.col-1-lg  {flex-basis: calc((100% / 12) *  1); max-width: calc((100% / 12) *  1);}
.col-2-lg  {flex-basis: calc((100% / 12) *  2); max-width: calc((100% / 12) *  2);}
.col-3-lg  {flex-basis: calc((100% / 12) *  3); max-width: calc((100% / 12) *  3);}
.col-4-lg  {flex-basis: calc((100% / 12) *  4); max-width: calc((100% / 12) *  4);}
.col-5-lg  {flex-basis: calc((100% / 12) *  5); max-width: calc((100% / 12) *  5);}
.col-6-lg  {flex-basis: calc((100% / 12) *  6); max-width: calc((100% / 12) *  6);}
.col-7-lg  {flex-basis: calc((100% / 12) *  7); max-width: calc((100% / 12) *  7);}
.col-8-lg  {flex-basis: calc((100% / 12) *  8); max-width: calc((100% / 12) *  8);}
.col-9-lg  {flex-basis: calc((100% / 12) *  9); max-width: calc((100% / 12) *  9);}
.col-10-lg {flex-basis: calc((100% / 12) * 10); max-width: calc((100% / 12) * 10);}
.col-11-lg {flex-basis: calc((100% / 12) * 11); max-width: calc((100% / 12) * 11);}
.col-12-lg {flex-basis: calc((100% / 12) * 12); max-width: calc((100% / 12) * 12);}
}
